In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/covidtweetsdataset2/finalcovidtweets2.csv
/kaggle/input/finaltweets/covidtweetsdataset.csv
/kaggle/input/finaltweets/sentiment140dataset.csv

In [2]:
dfcovid=pd.read_csv('../input/finaltweets/covidtweetsdataset.csv',index_col=[0])
dfcovid

/opt/conda/lib/python3.7/site-packages/numpy/lib/arraysetops.py:580: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

                                                      text
0        ['dolly', 'parton', 'partly', 'funded', 'moder...
1        ['lmao', 'buried', 'lede', 'data', 'released',...
2        ['short', 'way', 'head', 'mention', 'mess', 'y...
3        ['partner', 'tried', 'destroy', 'tower', 'near...
4        ['interesting', 'claim', 'man', 'far', 'shown'...
...                                                    ...
1591109  ['exclusive', 'want', 'see', 'fan', 'india', '...
1591110       ['think', 'past', 'day', 'httpstcojtnbfvbw']
1591111  ['hype', 'christmas', 'know', 'damn', 'well', ...
1591112  ['wish', 'covid', 'crap', 'rhenyn', 'quarantin...
1591113  ['understanding', 'aerosol', 'form', 'body', '...

[1591114 rows x 1 columns]

In [3]:
dfcovid2=pd.read_csv('../input/covidtweetsdataset2/finalcovidtweets2.csv',index_col=[0])
dfcovid2

                                                     text
0       ['getting', 'worth', 'toy', 'xmas', 'anybody',...
1       ['finally', 'published', 'nice', 'study', 'nos...
2       ['medias', 'delirious', 'celebrating', 'treatm...
3            ['check', 'new', 'remote', 'program', 'tna']
4       ['asking', 'friend', 'follow', 'want', 'covid'...
...                                                   ...
601327  ['looking', 'volunteer', 'participate', 'clini...
601328  ['god', 'hope', 'feliway', 'bought', 'arrives'...
601329  ['agr', 'weekly', 'basically', 'would', 'botto...
601330            ['sadly', 'hero', 'act', 'wait', 'jan']
601331  ['county', 'college', 'honor', 'frontline', 'w...

[601332 rows x 1 columns]

In [4]:
dfcovid=dfcovid.append(dfcovid2,ignore_index=True)
dfcovid

                                                      text
0        ['dolly', 'parton', 'partly', 'funded', 'moder...
1        ['lmao', 'buried', 'lede', 'data', 'released',...
2        ['short', 'way', 'head', 'mention', 'mess', 'y...
3        ['partner', 'tried', 'destroy', 'tower', 'near...
4        ['interesting', 'claim', 'man', 'far', 'shown'...
...                                                    ...
2192441  ['looking', 'volunteer', 'participate', 'clini...
2192442  ['god', 'hope', 'feliway', 'bought', 'arrives'...
2192443  ['agr', 'weekly', 'basically', 'would', 'botto...
2192444            ['sadly', 'hero', 'act', 'wait', 'jan']
2192445  ['county', 'college', 'honor', 'frontline', 'w...

[2192446 rows x 1 columns]

In [5]:
dfcovid=dfcovid.drop_duplicates(subset='text')
dfcovid=dfcovid.reset_index(drop=True)
dfcovid

                                                      text
0        ['dolly', 'parton', 'partly', 'funded', 'moder...
1        ['lmao', 'buried', 'lede', 'data', 'released',...
2        ['short', 'way', 'head', 'mention', 'mess', 'y...
3        ['partner', 'tried', 'destroy', 'tower', 'near...
4        ['interesting', 'claim', 'man', 'far', 'shown'...
...                                                    ...
1266242  ['looking', 'volunteer', 'participate', 'clini...
1266243  ['god', 'hope', 'feliway', 'bought', 'arrives'...
1266244  ['agr', 'weekly', 'basically', 'would', 'botto...
1266245            ['sadly', 'hero', 'act', 'wait', 'jan']
1266246  ['county', 'college', 'honor', 'frontline', 'w...

[1266247 rows x 1 columns]

In [6]:
dfcovid['text']=dfcovid['text'].apply(lambda x:x.replace("', '"," "))
dfcovid['text']=dfcovid['text'].apply(lambda x:x.replace("['",""))
dfcovid['text']=dfcovid['text'].apply(lambda x:x.replace("']",""))
dfcovid

                                                      text
0        dolly parton partly funded moderna covid vacci...
1        lmao buried lede data released pfizer monday d...
2        short way head mention mess yemen palestinian ...
3        partner tried destroy tower near house got cov...
4        interesting claim man far shown doesnt underst...
...                                                    ...
1266242  looking volunteer participate clinical trial s...
1266243  god hope feliway bought arrives sooner rather ...
1266244  agr weekly basically would bottom range precov...
1266245                            sadly hero act wait jan
1266246  county college honor frontline worker handmade...

[1266247 rows x 1 columns]

In [7]:
dfnoncovid=pd.read_csv('../input/finaltweets/sentiment140dataset.csv',index_col=[0])
dfnoncovid

/opt/conda/lib/python3.7/site-packages/numpy/lib/arraysetops.py:580: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

                                                      text
0        ['upset', 'cant', 'update', 'facebook', 'texti...
1        ['dived', 'many', 'time', 'ball', 'managed', '...
2        ['whole', 'body', 'feel', 'itchy', 'like', 'fi...
3                       ['behaving', 'mad', 'cant', 'see']
4        ['hey', 'long', 'time', 'see', 'yes', 'rain', ...
...                                                    ...
1407545      ['woke', 'school', 'best', 'feeling', 'ever']
1407546  ['thewdbcom', 'cool', 'hear', 'old', 'walt', '...
1407547     ['ready', 'mojo', 'makeover', 'ask', 'detail']
1407548  ['happy', 'birthday', 'boo', 'alll', 'time', '...
1407549                    ['happy', 'charity', 'tuesday']

[1407550 rows x 1 columns]

In [8]:
dfcovid=dfcovid.drop_duplicates(subset='text')
dfcovid=dfcovid.reset_index(drop=True)
dfnoncovid

                                                      text
0        ['upset', 'cant', 'update', 'facebook', 'texti...
1        ['dived', 'many', 'time', 'ball', 'managed', '...
2        ['whole', 'body', 'feel', 'itchy', 'like', 'fi...
3                       ['behaving', 'mad', 'cant', 'see']
4        ['hey', 'long', 'time', 'see', 'yes', 'rain', ...
...                                                    ...
1407545      ['woke', 'school', 'best', 'feeling', 'ever']
1407546  ['thewdbcom', 'cool', 'hear', 'old', 'walt', '...
1407547     ['ready', 'mojo', 'makeover', 'ask', 'detail']
1407548  ['happy', 'birthday', 'boo', 'alll', 'time', '...
1407549                    ['happy', 'charity', 'tuesday']

[1407550 rows x 1 columns]

In [9]:
dfnoncovid['text']=dfnoncovid['text'].apply(lambda x:x.replace("', '"," "))
dfnoncovid['text']=dfnoncovid['text'].apply(lambda x:x.replace("['",""))
dfnoncovid['text']=dfnoncovid['text'].apply(lambda x:x.replace("']",""))
dfnoncovid

                                                      text
0        upset cant update facebook texting might cry r...
1             dived many time ball managed save rest bound
2                          whole body feel itchy like fire
3                                    behaving mad cant see
4        hey long time see yes rain bit bit lol fine th...
...                                                    ...
1407545                      woke school best feeling ever
1407546  thewdbcom cool hear old walt interview httpbli...
1407547                     ready mojo makeover ask detail
1407548    happy birthday boo alll time tupac amaru shakur
1407549                              happy charity tuesday

[1407550 rows x 1 columns]

In [10]:
dfcovid['label'] = pd.Series([1 for x in range(len(dfcovid.index))])
dfnoncovid['label'] = pd.Series([0 for x in range(len(dfnoncovid.index))])

In [11]:
finaldf=pd.concat([dfcovid,dfnoncovid])
finaldf

                                                      text  label
0        dolly parton partly funded moderna covid vacci...      1
1        lmao buried lede data released pfizer monday d...      1
2        short way head mention mess yemen palestinian ...      1
3        partner tried destroy tower near house got cov...      1
4        interesting claim man far shown doesnt underst...      1
...                                                    ...    ...
1407545                      woke school best feeling ever      0
1407546  thewdbcom cool hear old walt interview httpbli...      0
1407547                     ready mojo makeover ask detail      0
1407548    happy birthday boo alll time tupac amaru shakur      0
1407549                              happy charity tuesday      0

[2673797 rows x 2 columns]

In [12]:
finaldf= finaldf.sample(frac=1).reset_index(drop=True)
finaldf

                                                      text  label
0                                 whiped like whiped cream      0
1                               cant find one team torrent      0
2        congrats new gig think blast working gang jealous      0
3         nobody want talk cause hairs big httptwitpiccomc      0
4        listening fantasy live mjd money problem segme...      1
...                                                    ...    ...
2673792                   group mine pdn community created      0
2673793  ahh come mandatory card hold record vaccinatio...      1
2673794  thank support advocis connect proud member ans...      1
2673795  know still reach cars cupholder accidentally a...      1
2673796  great idea realised covid thing even sure done...      1

[2673797 rows x 2 columns]

In [13]:
finaldf['label'].value_counts()

0    1407550
1    1266247
Name: label, dtype: int64

In [14]:
finaldf.to_csv('finaldataset.csv')